{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PeriodApp</title>

    <link href="{% static 'css/style.css' %}"rel="stylesheet">
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/pignose.calendar.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


  </head>
</html>
<body>



{% block content %}

{% endblock %}

<footer>
    <small>Developed by <a href="tel:+234-70-654-873-42">Ingenious</a> </small>
</footer>


 <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    $(document).ready(function () {
    $(".date").flatpickr(
    {dateFormat: "d-m-Y",});
    });

</script>

  </body>
</html>